gis_vrp/XSD/Point.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="ArrayOfPoint">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Point">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Lat" type="xsd:unsignedByte" />
              <xsd:element name="Lng" type="xsd:unsignedByte" />
              <xsd:element name="Type" type="xsd:string" />
              <xsd:element name="Capacity" type="xsd:unsignedByte" />
              <xsd:element name="OccurTime" type="xsd:dateTime" />
              <xsd:element name="UnloadTime" type="xsd:unsignedByte" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>